<%= form_for(@teams_assignment) do |f| %>
  <% if @teams_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teams_assignment.errors.count, "error") %> prohibited this teams_assignment from being saved:</h2>

      <ul>
      <% @teams_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.select :team_id, Team.all.map {|t| [t.name, t.id]} %>
  </div>
  <div class="field">
    <%= f.label :assignment_id %><br>
    <%= f.select :assignment_id, Assignment.all.map {|a| [a.description, a.id]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
