<%= form_for(@students_task) do |f| %>
  <% if @students_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@students_task.errors.count, "error") %> prohibited this students_task from being saved:</h2>

      <ul>
      <% @students_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.select :student_id, Student.all.map {|s| [s.full_name, s.id]} %>
  </div>
  <div class="field">
    <%= f.label :task_id %><br>
    <%= f.select :task_id, Task.all.map {|t| [t.description, t.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
