<%= form_for(@teams_project) do |f| %>
  <% if @teams_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teams_project.errors.count, "error") %> prohibited this teams_project from being saved:</h2>

      <ul>
      <% @teams_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :team_id %><br>
    <%= f.select :team_id, Team.all.map {|t| [t.id, t.name]} %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.select :project_id, Project.all.map {|p| [p.id, p.title]} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
